body{
    background:url("currency-convert.jpeg");
    background-position:fill;
    background-size:center;

}
h1{
    text-align:center;
    color:#fff;
    font-size:60px;

}

.container{
    padding:50px;
    margin-top:10px;
    width:800px;
    height:50px;
    background:hsl(100,96%,56%);
    background:transparent;
    top:20%;
    left:23%;
    transform:translate(.50%,.50%);
    position:absolute;
    border-radius:20px;
   
}
.convert{
    display:inline-flex;
}
p{
    padding-right:250px;
    font-weight:bold;
    font-size:25px;
    color:#fff;

}
input[type="number"]
{
    height:30px;
    border:1px solid gray;
    border-radius:15px;
    outline:none;
    font-weight:bold;
    font-size:20px;
}
select{
    margin-left:40px;
    width:200px;
    height:40px;
    border-radius:10px;
    outline:none;
    font-size:20px;
    position:center;
  
}

input[type="submit"]{
    margin:40px 100px;
    width:70%;
    height:40px;
    border-radius:20px;
    border:none;
    background:green;
    color:#fff;
    font-size:30px;
   
}
input[type="submit"]:hover{
    background:rgb(1,105,53);
    cursor:pointer;
}
#results{
    font-size:40px;
    font-weight:bold;
    color:yellow;
}